/* Your app styles here */

/* 修改变量色值可更改主题  green:0b8b7d default:2f4050 red:910000*/
:root {
    --f7-theme-color: #0b8b7d;
    --f7-theme-color-shade: #0b8b7d;
    --f7-theme-color-tint: #0b8b7d;
    --f7-theme-color-rgb: 11, 139, 125;
}

/*全局修改block变量*/
.ios{--f7-block-margin-vertical: 32px!important;}
.md{--f7-block-margin-vertical: 32px!important;}



/*your app */
.f7cont .col-33{text-align: center;margin:10px 0}
.f7cont .link{display: block;color: #434343}
.icon-box {display:inline-block;background: var(--f7-theme-color);width:64px;height: 64px;line-height:72px;border-radius: 50%;text-align: center;align-items: center}
.icon-box i{color: #fff}
.icon-name{display:block;text-align: center;padding: 5px 0;}


